[submodule "ohmyzsh"]
        path = ohmyzsh
        url = https://github.com/ohmyzsh/ohmyzsh
[submodule "nano"]
        path = nano
        url = https://github.com/scopatz/nanorc
[submodule "ohmyzsh-custom/plugins/k"]
	path = ohmyzsh-custom/plugins/k
	url = https://github.com/supercrabtree/k
[submodule "ohmyzsh-custom/plugins/zsh-autosuggestions"]
	path = ohmyzsh-custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "ohmyzsh-custom/plugins/zsh-syntax-highlighting"]
	path = ohmyzsh-custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "tldr-sh-client"]
	path = tldr-sh-client
	url = https://github.com/raylee/tldr-sh-client.git
